* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --red: #e03235;
    --blue: #0196d2;
    --green: #008516;
    --yelow: #d98825;
    --mid-dark: #3e3d41;
    --idk-what-to-call-this-one: #ded3b6;
}

body {
    background-color: var(--mid-dark);
    color: white;
}